/vendor
/public/storage
/public/uploads/file
/public/uploads/audio
/public/uploads/video
/config/app
/config/database
/node_modules
/.git
/.idea
.env
.env.example
.htaccess
.idea
index.php
Homestead.yaml
Homestead.json

