@charset "UTF-8";
body {
  margin: 30px AUTO;
  background-color: #09151f;
  background: url("../../resources/assets/images/background-new.jpg") no-repeat top center fixed;
  color: #939ead;
  font-family: Roboto, sans-serif;
  font-weight: normal;
  font-size: 13px;
  background-size: cover; }
  body a:hover {
    text-decoration: none; }
  body a:focus {
    outline: 0; }
  body #ajaxsend {
    position: fixed;
    text-align: center;
    left: 50%;
    top: 50%;
    z-index: 100;
    height: 100%;
    width: 100%;
    transform: translate(-50%, -50%);
    background: rgba(0, 0, 0, 0.3); }
    body #ajaxsend img {
      border-radius: 50%;
      top: 50%;
      position: relative;
      transform: translateY(-50px); }

#header {
  background: #3D4C54;
  height: 50px; }
  #header #logo {
    line-height: 50px; }
  #header nav {
    line-height: 50px; }
    #header nav ul {
      list-style: none;
      float: right;
      margin: 0; }
      #header nav ul li {
        float: left;
        padding: 0 10px;
        border-right: 1px solid #485a63;
        position: relative; }
        #header nav ul li a {
          color: #fff; }
        #header nav ul li:hover {
          background: #303e45; }
          #header nav ul li:hover ul {
            position: absolute;
            opacity: 1;
            transition: all 0.3s;
            background: #3D4C54;
            top: 50px;
            z-index: 2; }
        #header nav ul li ul {
          position: absolute;
          opacity: 0;
          background: #303e45;
          padding: 0;
          min-width: 179px;
          top: 165px;
          left: 0;
          z-index: -1; }
          #header nav ul li ul li {
            clear: both;
            width: 100%;
            border: none;
            line-height: 35px;
            font-size: 13px; }
            #header nav ul li ul li a {
              color: #ddd; }
    #header nav .icon-home img {
      position: relative;
      top: -3px; }

#headline {
  background: #ebebeb;
  padding: 15px 7px 0; }
  #headline .item {
    margin: 0 7px; }
  #headline article {
    background: #FFF;
    margin-bottom: 15px;
    padding: 10px; }
    #headline article > a {
      width: 40%;
      float: left;
      margin-right: 10px; }
      #headline article > a img {
        width: 100%; }
    #headline article .entry h3 {
      margin: 0;
      font-size: 13px;
      font-weight: normal;
      line-height: 16px; }
    #headline article .entry p {
      color: #939EAD;
      font-size: 12px;
      margin: 0;
      padding-top: 5px; }

#intro {
  color: #939ead;
  background: #f7f7f7;
  border-bottom: 1px solid #f2f2f2;
  border-top: 1px solid #f2f2f2;
  height: 41px; }
  #intro h3 {
    width: 120px;
    float: left;
    color: #FFF;
    font-size: 11px;
    line-height: 41px;
    margin: 0; }
    #intro h3 span {
      background: #3d4c54;
      padding: 6px;
      position: relative; }
      #intro h3 span:after {
        content: '';
        position: absolute;
        right: -12px;
        background: #3d4c54;
        bottom: 0px;
        border-left: 13px #3d4c54 solid;
        border-bottom: 13px #f7f7f7 solid; }
      #intro h3 span:before {
        content: '';
        position: absolute;
        right: -12px;
        background: #3d4c54;
        top: 0px;
        border-left: 13px #3d4c54 solid;
        border-top: 13px #f7f7f7 solid; }
  #intro .simply-scroll-container {
    position: relative; }
    #intro .simply-scroll-container .simply-scroll-clip {
      position: relative;
      overflow: hidden; }
      #intro .simply-scroll-container .simply-scroll-clip .simply-scroll-list {
        overflow: hidden;
        margin: 0;
        padding: 0;
        list-style: none;
        height: 41px; }
        #intro .simply-scroll-container .simply-scroll-clip .simply-scroll-list li {
          padding: 0;
          padding-right: 20px;
          margin: 0;
          list-style: none;
          float: left; }
          #intro .simply-scroll-container .simply-scroll-clip .simply-scroll-list li a {
            font-size: 12px; }
            #intro .simply-scroll-container .simply-scroll-clip .simply-scroll-list li a span {
              font-weight: bold;
              color: #005580; }
              #intro .simply-scroll-container .simply-scroll-clip .simply-scroll-list li a span:before {
                content: "»";
                font-weight: normal;
                margin: 0px 3px 0px 15px;
                position: relative;
                top: -1px; }
      #intro .simply-scroll-container .simply-scroll-clip .simply-scroll {
        height: 41px;
        margin-bottom: 1em; }
  #intro ul {
    margin: 0;
    list-style: none;
    line-height: 11px; }
    #intro ul .introweather {
      font-size: 12px; }
    #intro ul .weather_icon {
      height: 40px;
      padding: 5px;
      width: auto;
      padding-right: 30px; }
  #intro #searchform p {
    margin: 0;
    position: relative;
    background: #3d4c54; }
    #intro #searchform p:after {
      content: "\f002";
      font-family: FontAwesome;
      position: absolute;
      top: 0;
      right: 0;
      line-height: 39px;
      width: 23%;
      text-align: center;
      color: #eee; }
  #intro #searchform input[type="text"] {
    border: medium none;
    box-shadow: none;
    height: 39px;
    width: 77%;
    padding: 15px;
    border: none; }
  #intro #searchform input[type="submit"] {
    float: right;
    width: 23%;
    border: none;
    height: 39px;
    background: transparent;
    font-size: 0;
    z-index: 1;
    position: relative; }

#news {
  background: white;
  padding-top: 15px; }
  #news .flexslider {
    border: none;
    margin-bottom: 15px; }
    #news .flexslider ul li {
      position: relative; }
      #news .flexslider ul li .flex-caption {
        position: absolute;
        bottom: 0;
        left: 0px;
        background: rgba(0, 0, 0, 0.6);
        width: 100%;
        color: #fff; }
        #news .flexslider ul li .flex-caption h4 {
          padding: 10px;
          margin: 0; }
          #news .flexslider ul li .flex-caption h4 a {
            color: #fff;
            font-weight: both;
            font-size: 14px; }
        #news .flexslider ul li .flex-caption > div {
          padding: 10px;
          padding-top: 0; }
    #news .flexslider ol {
      border: 1px #f2f2f2 solid; }
      #news .flexslider ol li {
        padding: 10px; }
        #news .flexslider ol li img {
          border: 5px #f2f2f2 solid; }
    #news .flexslider .flex-direction-nav {
      position: absolute;
      top: 33%;
      width: 100%; }
      #news .flexslider .flex-direction-nav a {
        top: 35%;
        font-size: 0; }
        #news .flexslider .flex-direction-nav a:before {
          font-family: FontAwesome;
          color: #fff; }
      #news .flexslider .flex-direction-nav:before {
        font-family: FontAwesome;
        color: #fff; }
      #news .flexslider .flex-direction-nav .flex-next:before {
        content: '\f105'; }
      #news .flexslider .flex-direction-nav .flex-prev:before {
        content: '\f104'; }
  #news .news-center h3 {
    background: #3d4c54;
    color: #FFF;
    font-size: 16px;
    font-weight: normal;
    margin: 0;
    height: 41px;
    line-height: 41px;
    text-align: center; }
  #news .news-center ul {
    background: #f2f2f2;
    margin: 0;
    padding: 5px;
    height: 356px;
    overflow-y: scroll;
    border-bottom: 12px #f2f2f2 solid; }
    #news .news-center ul li {
      background: #FFF;
      margin: 10px 8px;
      margin-right: 0;
      padding: 10px;
      list-style: none;
      position: relative; }
      #news .news-center ul li h4 {
        margin: 0; }

#tabwidget #tabnav {
  list-style: none;
  padding: 0;
  margin: 0; }
  #tabwidget #tabnav h3 {
    font-size: 13px;
    font-weight: normal;
    margin: 0; }
  #tabwidget #tabnav li {
    float: left;
    width: calc(100%/3); }
    #tabwidget #tabnav li a {
      color: #FFF;
      background: #3d4c54;
      border-right: 1px solid #485A63;
      display: block;
      text-align: center;
      height: 41px;
      line-height: 41px;
      padding: 0; }
      #tabwidget #tabnav li a i {
        padding-right: 5px; }
      #tabwidget #tabnav li a:last-child {
        border-right: none; }
      #tabwidget #tabnav li a:hover, #tabwidget #tabnav li a.selected {
        background: #81b752;
        text-decoration: none; }
    #tabwidget #tabnav li img {
      margin-right: 7px; }

#tabwidget #tab-content {
  border: 1px solid #f2f2f2;
  max-height: 357px;
  overflow: hidden;
  overflow-y: scroll;
  border: 1px solid #f2f2f2; }
  #tabwidget #tab-content ul {
    padding: 0;
    margin-top: 0; }
    #tabwidget #tab-content ul li {
      padding: 15px;
      border-bottom: 1px solid #f2f2f2; }
      #tabwidget #tab-content ul li p {
        margin: 0;
        padding-top: 5px; }
      #tabwidget #tab-content ul li > a {
        float: left; }
    #tabwidget #tab-content ul:last-child {
      border-bottom: none; }
    #tabwidget #tab-content ul img {
      float: left;
      margin-right: 15px;
      width: 90px;
      height: auto;
      margin-top: 3px; }
    #tabwidget #tab-content ul h4 {
      margin: 0; }
  #tabwidget #tab-content.nav {
    float: right;
    margin: 0; }
  #tabwidget #tab-content #tab3 {
    padding: 0; }
    #tabwidget #tab-content #tab3 ul li {
      padding: 15px;
      border-bottom: 1px solid #f2f2f2; }

#jobs {
  background: #fff;
  padding-bottom: 15px; }
  #jobs #search-jobs {
    margin-bottom: 15px;
    height: 41px;
    background: #f7f7f7; }
    #jobs #search-jobs h3 {
      width: 120px;
      color: #FFF;
      font-size: 11px;
      line-height: 41px;
      margin: 0;
      float: left; }
      #jobs #search-jobs h3 span {
        background: #3d4c54;
        padding: 6px;
        position: relative; }
        #jobs #search-jobs h3 span:after {
          content: '';
          position: absolute;
          right: -12px;
          background: #3d4c54;
          bottom: 0px;
          border-left: 13px #3d4c54 solid;
          border-bottom: 13px #f7f7f7 solid; }
        #jobs #search-jobs h3 span:before {
          content: '';
          position: absolute;
          right: -12px;
          background: #3d4c54;
          top: 0px;
          border-left: 13px #3d4c54 solid;
          border-top: 13px #f7f7f7 solid; }
    #jobs #search-jobs form {
      float: right;
      line-height: 41px; }
      #jobs #search-jobs form select {
        height: 39px;
        width: 200px;
        padding: 10px;
        border: none;
        margin-right: 1px; }
  #jobs #list-jobs {
    height: 455px;
    overflow-y: scroll;
    border: 14px #f2f2f2 solid;
    border-right: 1px;
    clear: both; }
    #jobs #list-jobs .item {
      padding: 5px 0; }
      #jobs #list-jobs .item:nth-child(2n) {
        background: #eee; }
      #jobs #list-jobs .item .title {
        font-weight: bold; }
        #jobs #list-jobs .item .title i {
          width: 15px;
          font-size: 18px; }
      #jobs #list-jobs .item .salary {
        font-weight: bold;
        color: #81b752; }
  #jobs .job-vip .title {
    background: #3d4c54;
    color: #FFF;
    font-size: 16px;
    font-weight: normal;
    margin: 0;
    height: 41px;
    line-height: 41px;
    text-align: center; }
  #jobs .job-vip .content {
    max-height: 500px;
    overflow-y: scroll;
    border: 1px #f2f2f2 solid;
    padding: 0 15px;
    padding-top: 10px; }
    #jobs .job-vip .content .item h4 {
      margin: 5px; }
    #jobs .job-vip .content .item .salo {
      background: #fff;
      padding: 10px 0;
      color: #8abc5e;
      margin: 10px 0;
      font-weight: bold;
      border-bottom: 1px #ccc solid;
      clear: both; }
      #jobs .job-vip .content .item .salo span {
        padding-right: 20px; }
        #jobs .job-vip .content .item .salo span:last-child {
          padding-right: 0; }
        #jobs .job-vip .content .item .salo span i {
          padding-right: 5px; }
    #jobs .job-vip .content .item img {
      width: 100px;
      height: 100px;
      margin-right: 15px;
      float: left; }
  #jobs .pagination {
    height: 25px;
    margin-top: 5px;
    list-style: none;
    padding: 0; }
    #jobs .pagination li {
      display: inline-block; }
      #jobs .pagination li.active a, #jobs .pagination li.active span, #jobs .pagination li:hover a, #jobs .pagination li:hover span {
        background: #fff;
        color: #337ab7;
        border: 1px #3d4c54 solid; }
    #jobs .pagination a, #jobs .pagination span {
      background: #3d4c54;
      height: 25px;
      display: inline-block;
      width: 25px;
      text-align: center;
      line-height: 25px;
      margin-right: 5px;
      color: #fff;
      border: 1px #3d4c54 solid;
      box-sizing: content-box; }

#masonry {
  background: #fff;
  padding-bottom: 15px; }
  #masonry #search-adv {
    margin-bottom: 15px;
    height: 41px;
    background: #f7f7f7; }
    #masonry #search-adv h3 {
      width: 120px;
      color: #FFF;
      font-size: 11px;
      line-height: 41px;
      margin: 0;
      float: left; }
      #masonry #search-adv h3 span {
        background: #3d4c54;
        padding: 6px;
        position: relative; }
        #masonry #search-adv h3 span:after {
          content: '';
          position: absolute;
          right: -12px;
          background: #3d4c54;
          bottom: 0px;
          border-left: 13px #3d4c54 solid;
          border-bottom: 13px #f7f7f7 solid; }
        #masonry #search-adv h3 span:before {
          content: '';
          position: absolute;
          right: -12px;
          background: #3d4c54;
          top: 0px;
          border-left: 13px #3d4c54 solid;
          border-top: 13px #f7f7f7 solid; }
    #masonry #search-adv form {
      float: right;
      line-height: 41px; }
      #masonry #search-adv form select {
        height: 39px;
        width: 200px;
        padding: 10px;
        border: none;
        margin-right: 1px; }
  #masonry .list-masonry {
    -moz-column-count: 4;
    column-count: 4; }
    #masonry .list-masonry .item {
      display: inline-block;
      background: #fff;
      padding: 5px;
      border: 1px #f2f2f2 solid;
      margin: 5px 0;
      width: 100%; }
      #masonry .list-masonry .item img, #masonry .list-masonry .item iframe {
        max-width: 100%;
        height: auto;
        display: inline-block; }

#mutimedia {
  background: #fff;
  padding-bottom: 15px; }
  #mutimedia #title-mutimedia {
    margin-bottom: 15px;
    height: 41px;
    background: #f7f7f7; }
    #mutimedia #title-mutimedia h3 {
      width: 120px;
      color: #FFF;
      font-size: 11px;
      line-height: 41px;
      margin: 0;
      float: left; }
      #mutimedia #title-mutimedia h3 span {
        background: #3d4c54;
        padding: 6px;
        position: relative; }
        #mutimedia #title-mutimedia h3 span:after {
          content: '';
          position: absolute;
          right: -12px;
          background: #3d4c54;
          bottom: 0px;
          border-left: 13px #3d4c54 solid;
          border-bottom: 13px #f7f7f7 solid; }
        #mutimedia #title-mutimedia h3 span:before {
          content: '';
          position: absolute;
          right: -12px;
          background: #3d4c54;
          top: 0px;
          border-left: 13px #3d4c54 solid;
          border-top: 13px #f7f7f7 solid; }
  #mutimedia .owl-mutimedia {
    padding-left: 7px;
    padding-right: 7px; }
    #mutimedia .owl-mutimedia .owl-carousel .item {
      margin: 0 7px; }
      #mutimedia .owl-mutimedia .owl-carousel .item img {
        width: 100%;
        height: auto; }
      #mutimedia .owl-mutimedia .owl-carousel .item h4 {
        padding-top: 15px;
        margin: 0; }
      #mutimedia .owl-mutimedia .owl-carousel .item i {
        background: #81b752;
        padding: 10px;
        color: #fff;
        float: left;
        margin-right: 10px; }
    #mutimedia .owl-mutimedia .owl-carousel .owl-buttons {
      position: absolute;
      top: -55px;
      right: 5px; }
      #mutimedia .owl-mutimedia .owl-carousel .owl-buttons > div {
        display: inline-block;
        height: 39px;
        margin: 0 3px;
        background: #3d4c54;
        line-height: 39px;
        width: 39px;
        text-align: center;
        font-size: 0; }
        #mutimedia .owl-mutimedia .owl-carousel .owl-buttons > div.owl-prev:before {
          content: '\f104';
          font-family: FontAwesome;
          color: #fff;
          font-size: 20px; }
        #mutimedia .owl-mutimedia .owl-carousel .owl-buttons > div.owl-next:before {
          content: '\f105';
          font-family: FontAwesome;
          color: #fff;
          font-size: 20px; }

#footer .row-flex {
  display: -ms-flexbox;
  display: flex;
  clear: both; }

#footer #footer-top {
  background: #f1f1f1; }
  #footer #footer-top h3 {
    background: #fff;
    display: inline-block;
    padding: 0px 30px;
    text-transform: capitalize;
    font-weight: 300;
    color: #333;
    height: 41px;
    margin: 14px 0px;
    line-height: 41px; }
  #footer #footer-top p {
    color: #333; }
    #footer #footer-top p i {
      padding-right: 10px; }
  #footer #footer-top .footer-logo img {
    text-align: right;
    padding: 10px 36px;
    height: 41px;
    margin-top: 14px;
    float: right;
    background: #23323f; }
  #footer #footer-top .footer-logo, #footer #footer-top .contact-info {
    border-right: 1px #fff solid; }
  #footer #footer-top .social {
    list-style: none;
    float: right;
    padding: 0; }
    #footer #footer-top .social li {
      display: inline-block;
      height: 41px;
      width: 41px;
      margin-left: 10px;
      background: #81b752;
      line-height: 41px;
      font-size: 24px;
      color: #fff;
      text-align: center; }

#footer #footer-bot {
  background: #23323f; }
  #footer #footer-bot #site-info {
    font-size: 12px; }
    #footer #footer-bot #site-info #credit {
      display: inline-block; }
    #footer #footer-bot #site-info #footer-nav {
      float: right; }
      #footer #footer-bot #site-info #footer-nav ul {
        list-style: none; }
        #footer #footer-bot #site-info #footer-nav ul li {
          display: inline-block;
          border-right: 1px #666 solid;
          padding: 0 5px;
          line-height: 10px; }
          #footer #footer-bot #site-info #footer-nav ul li:hover a {
            color: #fff; }
          #footer #footer-bot #site-info #footer-nav ul li:last-child {
            padding-right: 0;
            border-right: none; }

#content-news .container {
  background: #fff; }

@media only screen and (max-width: 767px) {
  .main {
    color: #ccc; } }

/*# sourceMappingURL=app.css.map */
