@charset "UTF-8";
/* -----------------------------Sass XULANH SITE--------------------------------*/
/* ADDS A BROWSER PREFIX TO THE PROPERTY */
/* BACKGROUND GRADIENT */
/* BACKGROUND HORIZONTAL */
/* BACKGROUND RADIAL */
/* BACKGROUND SIZE */
/* BACKGROUND COLOR OPACITY */
/* COLOR OPACITY */
/* BORDER COLOR OPACITY */
/* BORDER RADIUS */
/* BOX */
/* BOX RGBA */
/* BOX SHADOW */
/* BOX SIZING */
/* COLUMNS */
/* DOUBLE BORDERS */
/* FLEX */
/* FLIP */
/* FONT FACE */
/* OPACITY */
/* OUTLINE RADIUS */
/* RESIZE */
/* ROTATE*/
/* TEXT SHADOW */
/* TRANSFORM  */
/* TRANSFORM STYLE */
/* TRANSITION */
/* TRIPLE BORDERS */
/* KEYFRAMES */
/* ANIMATION */
/*///////////////////////////////////ANIMATION//////////////////////////////////*/
/*/////////////////////////////////////SCREEN////////////////////////////////////////*/
/*/////////////////////////////////////DIV////////////////////////////////////////*/

@keyframes toLeftFromRight {
  49% {
    -khtml-transform: translate(-100%);
    transform: translate(-100%); }
  50% {
    opacity: 0;
    -khtml-transform: translate(100%);
    transform: translate(100%); }
  51% {
    opacity: 1; } }

@keyframes toRightFromLeft {
  49% {
    -khtml-transform: translate(100%);
    transform: translate(100%); }
  50% {
    opacity: 0;
    -khtml-transform: translate(-100%);
    transform: translate(-100%); }
  51% {
    opacity: 1; } }

@keyframes toTopFromBottom {
  49% {
    -khtml-transform: translateY(-100%);
    transform: translateY(-100%); }
  50% {
    opacity: 0;
    -khtml-transform: translateY(100%);
    transform: translateY(100%); }
  51% {
    opacity: 1; } }

@keyframes toBottomFromTop {
  49% {
    -khtml-transform: translateY(100%);
    transform: translateY(100%); }
  50% {
    opacity: 0;
    -khtml-transform: translateY(-100%);
    transform: translateY(-100%); }
  51% {
    opacity: 1; } }

@keyframes toTopFromBottom2 {
  0% {
    -khtml-transform: translateY(-100%);
    transform: translateY(-100%); }
  100% {
    -khtml-transform: translateY(0);
    transform: translateY(0); } }

@keyframes rotateVibrate {
  0% {
    opacity: 0;
    -khtml-transform: rotate(-40deg);
    transform: rotate(-40deg); }
  30% {
    -khtml-transform: rotate(40deg);
    transform: rotate(40deg); }
  60% {
    -khtml-transform: rotate(-20deg);
    transform: rotate(-20deg); }
  90% {
    -khtml-transform: rotate(20deg);
    transform: rotate(20deg); }
  100% {
    -khtml-transform: rotate(0deg);
    transform: rotate(0deg);
    opacity: 1; } }

body {
  margin: 30px AUTO;
  background: url("../../resources/assets/images/background-new.jpg") no-repeat top center fixed;
  color: #555;
  font-family: Roboto, sans-serif;
  font-weight: normal;
  font-size: 13px;
  background-size: cover; }
  body a:hover {
    text-decoration: none; }
  body *:focus {
    outline: 0; }
  body h4 {
    font-size: 14px; }
  body h3 {
    font-size: 16px; }
  body #ajaxsend {
    position: fixed;
    text-align: center;
    left: 50%;
    top: 50%;
    z-index: 100;
    height: 100%;
    width: 100%;
    transform: translate(-50%, -50%);
    background: rgba(0, 0, 0, 0.3);
    display: none; }
    body #ajaxsend img {
      border-radius: 50%;
      top: 50%;
      position: relative;
      transform: translateY(-50px); }

#header {
  background: #3D4C54;
  height: 50px; }
  #header #logo {
    line-height: 50px; }
  #header nav {
    line-height: 50px; }
    #header nav ul {
      list-style: none;
      float: right;
      margin: 0; }
      #header nav ul li {
        float: left;
        padding: 0 10px;
        border-right: 1px solid #485a63;
        position: relative; }
        #header nav ul li a {
          color: #fff; }
        #header nav ul li:hover {
          background: #303e45; }
          #header nav ul li:hover ul {
            position: absolute;
            opacity: 1;
            transition: all 0.3s;
            background: #3D4C54;
            top: 50px;
            z-index: 2; }
        #header nav ul li ul {
          position: absolute;
          opacity: 0;
          background: #303e45;
          padding: 0;
          min-width: 179px;
          top: 165px;
          left: 0;
          z-index: -1; }
          #header nav ul li ul li {
            clear: both;
            width: 100%;
            border: none;
            line-height: 35px;
            font-size: 13px; }
            #header nav ul li ul li a {
              color: #ddd; }
    #header nav .icon-home img {
      position: relative;
      top: -3px; }

#headline {
  background: #ebebeb;
  padding: 15px 7px 0; }
  #headline .item {
    margin: 0 7px; }
  #headline article {
    background: #FFF;
    margin-bottom: 15px;
    padding: 10px; }
    #headline article > a {
      width: 40%;
      float: left;
      margin-right: 10px; }
      #headline article > a img {
        width: 100%; }
    #headline article .entry h3 {
      margin: 0;
      font-size: 13px;
      font-weight: normal;
      line-height: 16px; }
    #headline article .entry p {
      color: #939EAD;
      font-size: 12px;
      margin: 0;
      padding-top: 5px; }

#intro {
  color: #939ead;
  background: #f7f7f7;
  border-bottom: 1px solid #f2f2f2;
  border-top: 1px solid #f2f2f2;
  height: 41px; }
  #intro h3 {
    width: 120px;
    float: left;
    color: #FFF;
    font-size: 11px;
    line-height: 41px;
    margin: 0; }
    #intro h3 span {
      background: #3d4c54;
      padding: 6px;
      position: relative; }
      #intro h3 span:after {
        content: '';
        position: absolute;
        right: -12px;
        background: #3d4c54;
        bottom: 0px;
        border-left: 13px #3d4c54 solid;
        border-bottom: 13px #f7f7f7 solid; }
      #intro h3 span:before {
        content: '';
        position: absolute;
        right: -12px;
        background: #3d4c54;
        top: 0px;
        border-left: 13px #3d4c54 solid;
        border-top: 13px #f7f7f7 solid; }
  #intro .simply-scroll-container {
    position: relative; }
    #intro .simply-scroll-container .simply-scroll-clip {
      position: relative;
      overflow: hidden; }
      #intro .simply-scroll-container .simply-scroll-clip .simply-scroll-list {
        overflow: hidden;
        margin: 0;
        padding: 0;
        list-style: none;
        height: 41px; }
        #intro .simply-scroll-container .simply-scroll-clip .simply-scroll-list li {
          padding: 0;
          padding-right: 20px;
          margin: 0;
          list-style: none;
          float: left;
          line-height: 40px; }
          #intro .simply-scroll-container .simply-scroll-clip .simply-scroll-list li a {
            font-size: 12px; }
            #intro .simply-scroll-container .simply-scroll-clip .simply-scroll-list li a span {
              font-weight: bold;
              color: #005580; }
              #intro .simply-scroll-container .simply-scroll-clip .simply-scroll-list li a span:before {
                content: "»";
                font-weight: normal;
                margin: 0px 3px 0px 15px;
                position: relative;
                top: -1px; }
      #intro .simply-scroll-container .simply-scroll-clip .simply-scroll {
        height: 41px;
        margin-bottom: 1em; }
  #intro ul {
    margin: 0;
    list-style: none;
    line-height: 11px; }
    #intro ul .introweather {
      font-size: 12px; }
    #intro ul .weather_icon {
      height: 40px;
      padding: 5px;
      width: auto;
      padding-right: 30px; }
  #intro #searchform p {
    margin: 0;
    position: relative;
    background: #3d4c54; }
    #intro #searchform p:after {
      content: "\f002";
      font-family: FontAwesome;
      position: absolute;
      top: 0;
      right: 0;
      line-height: 39px;
      width: 23%;
      text-align: center;
      color: #eee; }
  #intro #searchform input[type="text"] {
    border: medium none;
    box-shadow: none;
    height: 39px;
    width: 77%;
    padding: 15px;
    border: none; }
  #intro #searchform input[type="submit"] {
    float: right;
    width: 23%;
    border: none;
    height: 39px;
    background: transparent;
    font-size: 0;
    z-index: 1;
    position: relative; }

#news {
  background: white;
  padding-top: 15px; }
  #news .flexslider {
    border: none;
    margin-bottom: 15px; }
    #news .flexslider ul li {
      position: relative; }
      #news .flexslider ul li .flex-caption {
        position: absolute;
        bottom: 0;
        left: 0px;
        background: rgba(0, 0, 0, 0.6);
        width: 100%;
        color: #fff; }
        #news .flexslider ul li .flex-caption h4 {
          padding: 10px;
          margin: 0; }
          #news .flexslider ul li .flex-caption h4 a {
            color: #fff;
            font-weight: both;
            font-size: 14px; }
        #news .flexslider ul li .flex-caption > div {
          padding: 10px;
          padding-top: 0; }
    #news .flexslider ol {
      border: 1px #f2f2f2 solid; }
      #news .flexslider ol li {
        padding: 10px; }
        #news .flexslider ol li img {
          border: 5px #f2f2f2 solid; }
    #news .flexslider .flex-direction-nav {
      position: absolute;
      top: 33%;
      width: 100%; }
      #news .flexslider .flex-direction-nav a {
        top: 35%;
        font-size: 0; }
        #news .flexslider .flex-direction-nav a:before {
          font-family: FontAwesome;
          color: #fff; }
      #news .flexslider .flex-direction-nav:before {
        font-family: FontAwesome;
        color: #fff; }
      #news .flexslider .flex-direction-nav .flex-next:before {
        content: '\f105'; }
      #news .flexslider .flex-direction-nav .flex-prev:before {
        content: '\f104'; }
  #news .news-center h3 {
    background: #3d4c54;
    color: #FFF;
    font-size: 16px;
    font-weight: normal;
    margin: 0;
    height: 41px;
    line-height: 41px;
    text-align: center; }
  #news .news-center ul {
    background: #f2f2f2;
    margin: 0;
    padding: 0px 5px;
    height: 398px;
    overflow-y: scroll;
    border-bottom: 12px #f2f2f2 solid;
    border-top: 12px #f2f2f2 solid; }
    #news .news-center ul li {
      background: #FFF;
      margin: 10px 8px;
      margin-right: 0;
      padding: 10px;
      list-style: none;
      position: relative; }
      #news .news-center ul li h4 {
        margin: 0; }
      #news .news-center ul li:first-child {
        margin-top: 2px; }
      #news .news-center ul li:last-child {
        margin-bottom: 2px; }

#tabwidget #tabnav {
  list-style: none;
  padding: 0;
  margin: 0; }
  #tabwidget #tabnav h3 {
    font-size: 13px;
    font-weight: normal;
    margin: 0; }
  #tabwidget #tabnav li {
    float: left;
    width: calc(100%/3); }
    #tabwidget #tabnav li a {
      color: #FFF;
      background: #3d4c54;
      border-right: 1px solid #485A63;
      display: block;
      text-align: center;
      height: 41px;
      line-height: 41px;
      padding: 0; }
      #tabwidget #tabnav li a i {
        padding-right: 5px; }
      #tabwidget #tabnav li a:last-child {
        border-right: none; }
      #tabwidget #tabnav li a:hover, #tabwidget #tabnav li a.selected {
        background: #81b752;
        text-decoration: none; }
    #tabwidget #tabnav li img {
      margin-right: 7px; }

#tabwidget #tab-content {
  border: 1px solid #f2f2f2;
  height: 357px;
  overflow: hidden;
  overflow-y: scroll;
  border: 1px solid #f2f2f2; }
  #tabwidget #tab-content ul {
    padding: 0;
    margin-top: 0; }
    #tabwidget #tab-content ul li {
      padding: 15px;
      border-bottom: 1px solid #f2f2f2; }
      #tabwidget #tab-content ul li p {
        margin: 0;
        padding-top: 5px; }
      #tabwidget #tab-content ul li > a {
        float: left; }
    #tabwidget #tab-content ul:last-child {
      border-bottom: none; }
    #tabwidget #tab-content ul img {
      float: left;
      margin-right: 15px;
      width: 90px;
      height: auto;
      margin-top: 3px; }
    #tabwidget #tab-content ul h4 {
      margin: 0; }
  #tabwidget #tab-content.nav {
    float: right;
    margin: 0; }
  #tabwidget #tab-content #tab3 {
    padding: 0; }
    #tabwidget #tab-content #tab3 ul li {
      padding: 15px;
      border-bottom: 1px solid #f2f2f2; }

#jobs {
  background: #fff;
  padding-bottom: 15px; }
  #jobs #search-jobs {
    margin-bottom: 15px;
    height: 41px;
    background: #f7f7f7; }
    #jobs #search-jobs h3 {
      width: 120px;
      color: #FFF;
      font-size: 11px;
      line-height: 41px;
      margin: 0;
      float: left; }
      #jobs #search-jobs h3 span {
        background: #3d4c54;
        padding: 6px;
        position: relative; }
        #jobs #search-jobs h3 span:after {
          content: '';
          position: absolute;
          right: -12px;
          background: #3d4c54;
          bottom: 0px;
          border-left: 13px #3d4c54 solid;
          border-bottom: 13px #f7f7f7 solid; }
        #jobs #search-jobs h3 span:before {
          content: '';
          position: absolute;
          right: -12px;
          background: #3d4c54;
          top: 0px;
          border-left: 13px #3d4c54 solid;
          border-top: 13px #f7f7f7 solid; }
    #jobs #search-jobs form {
      float: right;
      line-height: 41px; }
      #jobs #search-jobs form select {
        height: 39px;
        width: 200px;
        padding: 10px;
        border: none;
        margin-right: 1px; }
  #jobs #list-jobs {
    height: 455px;
    overflow-y: scroll;
    border: 14px #f2f2f2 solid;
    border-right: 1px;
    clear: both; }
    #jobs #list-jobs .item {
      padding: 5px 0; }
      #jobs #list-jobs .item:nth-child(2n) {
        background: #eee; }
      #jobs #list-jobs .item .title {
        font-weight: bold; }
        #jobs #list-jobs .item .title i {
          width: 15px;
          font-size: 18px; }
      #jobs #list-jobs .item .salary {
        font-weight: bold;
        color: #81b752; }
  #jobs .job-vip .title {
    background: #3d4c54;
    color: #FFF;
    font-size: 16px;
    font-weight: normal;
    margin: 0;
    height: 41px;
    line-height: 41px;
    text-align: center; }
  #jobs .job-vip .content {
    height: 500px;
    overflow-y: scroll;
    border: 1px #f2f2f2 solid;
    padding: 0 15px;
    padding-top: 10px; }
    #jobs .job-vip .content .item h4 {
      margin: 5px; }
    #jobs .job-vip .content .item .salo {
      background: #fff;
      padding: 10px 0;
      color: #8abc5e;
      margin: 10px 0;
      font-weight: bold;
      border-bottom: 1px #ccc solid;
      clear: both; }
      #jobs .job-vip .content .item .salo span {
        padding-right: 20px; }
        #jobs .job-vip .content .item .salo span:last-child {
          padding-right: 0; }
        #jobs .job-vip .content .item .salo span i {
          padding-right: 5px; }
    #jobs .job-vip .content .item img {
      width: 100px;
      height: 100px;
      margin-right: 15px;
      float: left; }
  #jobs .pagination {
    height: 25px;
    margin-top: 5px;
    list-style: none;
    padding: 0; }
    #jobs .pagination li {
      display: inline-block; }
      #jobs .pagination li.active a, #jobs .pagination li.active span, #jobs .pagination li:hover a, #jobs .pagination li:hover span {
        background: #fff;
        color: #337ab7;
        border: 1px #3d4c54 solid; }
    #jobs .pagination a, #jobs .pagination span {
      background: #3d4c54;
      height: 25px;
      display: inline-block;
      width: 25px;
      text-align: center;
      line-height: 25px;
      margin-right: 5px;
      color: #fff;
      border: 1px #3d4c54 solid;
      box-sizing: content-box; }

#masonry {
  background: #fff;
  padding-bottom: 15px; }
  #masonry .page-ads {
    position: absolute;
    margin-top: -15px;
    left: 0; }
  #masonry .margintop-10 {
    margin-top: 10px; }
  #masonry #search-adv {
    margin-bottom: 15px;
    height: 41px;
    background: #f7f7f7; }
    #masonry #search-adv h3 {
      width: 120px;
      color: #FFF;
      font-size: 11px;
      line-height: 41px;
      margin: 0;
      float: left; }
      #masonry #search-adv h3 span {
        background: #3d4c54;
        padding: 6px;
        position: relative; }
        #masonry #search-adv h3 span:after {
          content: '';
          position: absolute;
          right: -12px;
          background: #3d4c54;
          bottom: 0px;
          border-left: 13px #3d4c54 solid;
          border-bottom: 13px #f7f7f7 solid; }
        #masonry #search-adv h3 span:before {
          content: '';
          position: absolute;
          right: -12px;
          background: #3d4c54;
          top: 0px;
          border-left: 13px #3d4c54 solid;
          border-top: 13px #f7f7f7 solid; }
    #masonry #search-adv form {
      float: right;
      line-height: 41px; }
      #masonry #search-adv form select {
        height: 39px;
        width: 200px;
        padding: 10px;
        border: none;
        margin-right: 1px; }
  #masonry .list-masonry {
    padding: 0 10px; }
    #masonry .list-masonry .frame-masonry .col {
      width: 25%;
      float: left;
      padding: 5px; }
    #masonry .list-masonry .frame-masonry .text {
      padding: 10px 0;
      border-radius: 0px; }
      #masonry .list-masonry .frame-masonry .text a {
        text-transform: uppercase;
        font-weight: bold; }
      #masonry .list-masonry .frame-masonry .text p {
        margin-top: 5px;
        margin-bottom: 5px; }
    #masonry .list-masonry .item {
      background: #fff;
      width: 100%;
      padding: 7px 0; }
      #masonry .list-masonry .item .it-fream {
        border: 7px #fff solid;
        box-shadow: 0px 0px 1px 0px #ccc;
        height: 100%;
        overflow: hidden; }
      #masonry .list-masonry .item img, #masonry .list-masonry .item iframe {
        max-width: 100%;
        height: auto;
        display: inline-block; }

#mutimedia {
  background: #fff;
  padding-bottom: 15px; }
  #mutimedia #title-mutimedia {
    margin-bottom: 15px;
    height: 41px;
    background: #f7f7f7; }
    #mutimedia #title-mutimedia h3 {
      width: 120px;
      color: #FFF;
      font-size: 11px;
      line-height: 41px;
      margin: 0;
      float: left; }
      #mutimedia #title-mutimedia h3 span {
        background: #3d4c54;
        padding: 6px;
        position: relative; }
        #mutimedia #title-mutimedia h3 span:after {
          content: '';
          position: absolute;
          right: -12px;
          background: #3d4c54;
          bottom: 0px;
          border-left: 13px #3d4c54 solid;
          border-bottom: 13px #f7f7f7 solid; }
        #mutimedia #title-mutimedia h3 span:before {
          content: '';
          position: absolute;
          right: -12px;
          background: #3d4c54;
          top: 0px;
          border-left: 13px #3d4c54 solid;
          border-top: 13px #f7f7f7 solid; }
  #mutimedia .owl-mutimedia {
    padding-left: 7px;
    padding-right: 7px; }
    #mutimedia .owl-mutimedia .owl-carousel .item {
      margin: 0 7px; }
      #mutimedia .owl-mutimedia .owl-carousel .item img {
        width: 100%;
        height: auto; }
      #mutimedia .owl-mutimedia .owl-carousel .item h4 {
        padding-top: 15px;
        margin: 0; }
      #mutimedia .owl-mutimedia .owl-carousel .item i {
        background: #81b752;
        padding: 10px;
        color: #fff;
        float: left;
        margin-right: 10px; }
    #mutimedia .owl-mutimedia .owl-carousel .owl-buttons {
      position: absolute;
      top: -55px;
      right: 5px; }
      #mutimedia .owl-mutimedia .owl-carousel .owl-buttons > div {
        display: inline-block;
        height: 39px;
        margin: 0 3px;
        background: #3d4c54;
        line-height: 39px;
        width: 39px;
        text-align: center;
        font-size: 0; }
        #mutimedia .owl-mutimedia .owl-carousel .owl-buttons > div.owl-prev:before {
          content: '\f104';
          font-family: FontAwesome;
          color: #fff;
          font-size: 20px; }
        #mutimedia .owl-mutimedia .owl-carousel .owl-buttons > div.owl-next:before {
          content: '\f105';
          font-family: FontAwesome;
          color: #fff;
          font-size: 20px; }

#footer .row-flex {
  display: -ms-flexbox;
  display: flex;
  clear: both; }

#footer #footer-top {
  background: #f1f1f1; }
  #footer #footer-top h3 {
    background: #fff;
    display: inline-block;
    padding: 0px 30px;
    text-transform: capitalize;
    font-weight: 300;
    color: #333;
    height: 41px;
    margin: 14px 0px;
    line-height: 41px; }
  #footer #footer-top p {
    color: #333; }
    #footer #footer-top p i {
      width: 25px;
      text-align: left;
      font-size: 16px;
      color: #3d4c54; }
      #footer #footer-top p i.fa-envelope {
        font-size: 12px; }
  #footer #footer-top .footer-logo img {
    text-align: right;
    padding: 10px 36px;
    height: 41px;
    background: #23323f;
    margin-bottom: 10px; }
  #footer #footer-top .footer-logo, #footer #footer-top .contact-info {
    border-right: 1px #fff solid; }
  #footer #footer-top .social {
    list-style: none;
    float: right;
    padding: 0; }
    #footer #footer-top .social li {
      display: inline-block;
      height: 40px;
      width: 40px;
      margin-left: 10px;
      margin-top: 15px;
      background: #81b752;
      line-height: 41px;
      font-size: 24px;
      color: #fff;
      text-align: center; }
      #footer #footer-top .social li a {
        display: block; }
      #footer #footer-top .social li.face a {
        background: #337ab7; }
      #footer #footer-top .social li.goplus a {
        background: #c12d2a; }
      #footer #footer-top .social li.instagram a i {
        color: #fff; }
      #footer #footer-top .social li.youtube a {
        background: #c12d2a; }
      #footer #footer-top .social li i {
        color: #fff; }
  #footer #footer-top .map {
    padding-bottom: 15px; }

#footer #footer-bot {
  background: #23323f; }
  #footer #footer-bot #site-info {
    font-size: 12px;
    margin-top: 10px; }
    #footer #footer-bot #site-info #credit {
      display: inline-block;
      color: #ddd; }
    #footer #footer-bot #site-info #footer-nav {
      float: right; }
      #footer #footer-bot #site-info #footer-nav ul {
        list-style: none; }
        #footer #footer-bot #site-info #footer-nav ul li {
          display: inline-block;
          border-right: 1px #666 solid;
          padding: 0 5px;
          line-height: 10px; }
          #footer #footer-bot #site-info #footer-nav ul li a {
            color: #ddd; }
          #footer #footer-bot #site-info #footer-nav ul li:hover a {
            color: #fff; }
          #footer #footer-bot #site-info #footer-nav ul li:last-child {
            padding-right: 0;
            border-right: none; }

#content-news .container, #content-jobs .container, #content-ads .container, #content-playlist .container, #content-muti .container {
  background: #fff; }

#postjobs, #postads {
  background: #fff; }
  #postjobs h1, #postads h1 {
    text-align: center;
    text-transform: uppercase; }
  #postjobs h3, #postads h3 {
    background: #3d4c54;
    clear: both;
    padding: 10px;
    text-align: center;
    color: #fff;
    text-transform: uppercase; }
  #postjobs .control-label, #postads .control-label {
    text-align: right;
    font-size: 16px;
    line-height: 40px; }
  #postjobs form, #postads form {
    border: 1px #f2f2f2 solid;
    border-radius: 10px;
    padding: 30px 5px;
    padding-top: 0; }
    #postjobs form input[type='text'], #postjobs form input[type='email'], #postjobs form textarea, #postjobs form select, #postads form input[type='text'], #postads form input[type='email'], #postads form textarea, #postads form select {
      width: 100%;
      height: 40px;
      padding: 0 15px;
      font-size: 14px;
      margin-bottom: 10px;
      max-width: 500px; }
    #postjobs form select, #postads form select {
      padding-left: 11px;
      text-transform: capitalize; }
    #postjobs form input[type='radio'], #postjobs form input[type='checkbox'], #postjobs form #cke_content-post, #postjobs form input[type='file'], #postads form input[type='radio'], #postads form input[type='checkbox'], #postads form #cke_content-post, #postads form input[type='file'] {
      margin-bottom: 10px;
      max-width: 498px; }
    #postjobs form textarea, #postads form textarea {
      height: 150px;
      padding: 15px; }
    #postjobs form input[type='file'], #postads form input[type='file'] {
      height: 40px;
      margin-bottom: 10px;
      padding: 8px;
      border: 1px #999 solid; }
    #postjobs form input[type='submit'], #postads form input[type='submit'] {
      padding: 0 30px;
      line-height: 40px;
      margin-bottom: 40px;
      background: #3d4c54;
      color: #fff;
      border: none;
      text-transform: capitalize; }

#list {
  background: #fff;
  padding: 15px; }
  #list input, #list select, #list button {
    height: 30px; }
  #list input[type='checkbox'], #list input[type='radio'] {
    height: auto; }
  #list input[type='submit'], #list input[type='button'], #list button, #list .button {
    background: #3d4c54;
    color: #fff;
    padding: 0 15px;
    border: none;
    border-radius: 4px; }
  #list table thead tr {
    background: #3d4c54;
    color: #fff;
    font-weight: bold; }
    #list table thead tr span.sort {
      display: inline-block;
      float: right; }
      #list table thead tr span.sort i {
        height: 15px;
        width: 10px;
        text-align: center;
        color: #fff; }
        #list table thead tr span.sort i.active {
          color: #f00; }
      #list table thead tr span.sort a:hover i {
        color: #f00; }
  #list table tbody i:before {
    font-size: 20px;
    margin-right: 8px;
    height: 30px;
    width: 30px;
    line-height: 30px; }
  #list table tbody .fa-plus-square-o {
    color: #3c763d; }
  #list table tbody .fa-pencil-square-o {
    color: #337ab7; }
  #list table tbody .fa-minus-square-o {
    color: #a94442; }
  #list .pagination {
    margin: 0 7px; }

.title-line h3 {
  width: 120px;
  color: #FFF;
  font-size: 11px;
  line-height: 41px;
  margin: 0;
  float: left; }
  .title-line h3 span {
    background: #3d4c54;
    padding: 6px 10px;
    position: relative; }
    .title-line h3 span:after {
      content: '';
      position: absolute;
      right: -12px;
      background: #3d4c54;
      bottom: 0px;
      border-left: 13px #3d4c54 solid;
      border-bottom: 13px #fff solid; }
    .title-line h3 span:before {
      content: '';
      position: absolute;
      right: -12px;
      background: #3d4c54;
      top: 0px;
      border-left: 13px #3d4c54 solid;
      border-top: 13px #fff solid; }

.title-line a {
  float: right;
  background: #3d4c54;
  padding: 4px 15px;
  color: #fff;
  margin-top: 7px; }

#muti-audio, #muti-video, #muti-story {
  background: #fff; }

#content-muti .image-file img {
  width: 100%;
  margin: 20px 0; }

#content-playlist .playlist {
  width: 100%;
  margin: 20px 0; }

#content-playlist .entry-content .img {
  margin: 10px 0; }

#siderbar-right {
  margin-top: 15px;
  margin-bottom: 15px; }
  #siderbar-right .siderbar h3.title {
    display: inline-block;
    padding: 5px 10px;
    margin: 0;
    color: #fff;
    background: #3d4c54;
    text-transform: uppercase;
    margin-bottom: 5px; }
  #siderbar-right .siderbar h4 {
    margin: 0;
    margin-bottom: 5px; }
  #siderbar-right .latest-post {
    border-bottom: 1px #f2f2f2 solid;
    margin-bottom: 10px;
    padding-bottom: 5px;
    margin-top: 20px; }
    #siderbar-right .latest-post .item {
      clear: both;
      padding: 5px 0;
      position: relative; }
      #siderbar-right .latest-post .item .extra {
        position: absolute;
        bottom: 2px;
        right: 0;
        font-size: 11px;
        color: #3d4c54;
        width: 100%;
        padding-left: 110px; }
        #siderbar-right .latest-post .item .extra .like, #siderbar-right .latest-post .item .extra .view {
          float: right;
          margin-left: 10px; }
    #siderbar-right .latest-post img {
      max-width: 100px;
      float: left;
      margin-right: 10px;
      height: 100px; }
  #siderbar-right .sidebar-ads {
    margin-bottom: 5px; }
    #siderbar-right .sidebar-ads img {
      width: 100%;
      height: auto; }

#module-comment {
  margin-bottom: 30px; }
  #module-comment #comment-script {
    padding: 0;
    list-style: none;
    margin: 0; }
    #module-comment #comment-script ul {
      list-style: none;
      padding-left: 56px; }
    #module-comment #comment-script .content {
      margin: 2px 0;
      padding: 5px;
      border: 1px #f2f2f2 solid;
      position: relative; }
    #module-comment #comment-script .avata {
      float: left;
      margin-right: 15px; }
      #module-comment #comment-script .avata img {
        width: 50px;
        height: 50px;
        border-radius: 0px;
        box-shadow: 1px 3px 4px 0px #eee; }
    #module-comment #comment-script .pendding {
      font-style: italic;
      font-size: 10px; }
    #module-comment #comment-script .extra .name {
      text-transform: uppercase;
      padding-right: 20px; }
    #module-comment #comment-script .extra .date {
      padding-right: 20px; }
    #module-comment #comment-script .extra .like, #module-comment #comment-script .extra .dislike {
      padding: 0 5px; }
      #module-comment #comment-script .extra .like i, #module-comment #comment-script .extra .dislike i {
        cursor: pointer; }
    #module-comment #comment-script .reply {
      float: right;
      position: absolute;
      right: 15px;
      top: 15px;
      padding: 2px 10px;
      border-radius: 0px;
      color: #fff;
      background: #3d4c54; }
  #module-comment #comment-form, #module-comment #child-comment-form {
    padding-top: 10px;
    border: 1px #f2f2f2 solid;
    margin-top: 10px; }
    #module-comment #comment-form .form-group, #module-comment #child-comment-form .form-group {
      line-height: 30px;
      padding: 5px 0;
      margin: 0; }
      #module-comment #comment-form .form-group input[type='text'], #module-comment #child-comment-form .form-group input[type='text'] {
        height: 30px;
        padding: 5px 10px;
        width: 100%; }
      #module-comment #comment-form .form-group textarea, #module-comment #child-comment-form .form-group textarea {
        height: 120px;
        padding: 5px 10px;
        width: 100%;
        text-align: left; }
      #module-comment #comment-form .form-group input[type='button'], #module-comment #child-comment-form .form-group input[type='button'] {
        background: #fff;
        display: inline-block;
        padding: 0px 30px;
        text-transform: uppercase;
        font-weight: 300;
        color: #333;
        height: 40px;
        margin: 5px 0px;
        line-height: 37px;
        border: 1px #999 solid;
        position: relative;
        top: -5px; }
  #module-comment #comment-form {
    margin: 0; }

@media only screen and (max-width: 767px) {
  .main {
    color: #ccc; } }

/*# sourceMappingURL=app.css.map */
