body{
    margin: 30px AUTO;
    background-color: #09151f;
    background: url("../../resources/assets/images/background-new.jpg") no-repeat top center fixed;
    color: #939ead;
    font-family: Roboto, sans-serif;
    font-weight: normal;
    font-size: 13px;
    background-size: cover;
    a:hover{
  	text-decoration: none;
	}
}
#header {
    background: #3D4C54;
    height: 50px;
    #logo{
  		line-height: 50px;
	}
	nav{
  		line-height: 50px;
  		ul{
		    list-style: none;
		    float: right;
		    margin: 0;
		    li{
			 	float: left;
			  	padding: 0 10px;
			  	border-right: 1px solid #485a63;
			  	position: relative;
			  	a{
				   color: #fff;
				}
				&:hover{
				    background: #303e45;
				    ul{
					    position: absolute;
					    opacity: 1;
					    background: #3D4C54;
					    top: 50px;
					    z-index: 2;
					}
				}
				ul{
				    position: absolute;
				    opacity: 0;
				    background: #303e45;
				    padding: 0;
				    min-width: 179px;
				    top: 165px;
   				    left: 0;
   				    z-index: 
				    li{
					    clear: both;
					    width: 100%;
					    border: none;
					    line-height: 35px;
					    font-size: 13px;
						a{
						    color: #ddd;
						}
					}
				}
			}
		}
		.icon-home img{
	    	position: relative;
	    	top: -3px;
		}
	}
}
#headline{
    background: #ebebeb;
    padding: 15px 7px 0;
    .owl-wrapper-outer{
	}
    .item{
    	margin: 0 7px;
    }
    article{
    	background: #FFF;
    	margin-bottom: 15px;
    	padding: 10px;
    	>a{
		    width: 40%;
		    float: left;
    		margin-right: 10px;
		    img{
		    	width: 100%		
    		}
    	}
    	.entry{
    		h3{
			    margin: 0;
			    font-size: 13px;
			    font-weight: normal;
			    line-height: 16px;
    		}
    		p{
    			color: #939EAD;
			    font-size: 12px;
			    margin: 0;
			    padding-top: 5px;
    		}
    	}
    }
}
#intro{
	color: #939ead;
    background: #f7f7f7;
    border-bottom: 1px solid #d4d4d4;
    border-top: 1px solid #d4d4d4;
    height: 41px;
	h3{
    	width: 120px;
    	float: left;
    	color: #FFF;
	    font-size: 11px;
    	line-height: 41px;
    	margin: 0;
	    span{
	    	background: #3d4c54;
    		padding: 6px;
   		 	position: relative;
	    	&:after{
	    		content: '';
			    position: absolute;
			    right: -12px;
			    background: #3d4c54;
			    bottom: 0px;
			    border-left: 12px #3d4c54 solid;
			    border-bottom: 12px #f7f7f7 solid;
	    	}
	    	&:before{
	    		content: '';
			    position: absolute;
			    right: -12px;
			    background: #3d4c54;
			    top: 0px;
			    border-left: 12px #3d4c54 solid;
			    border-top: 12px #f7f7f7 solid;
	    	}
	    }
	}
	.simply-scroll-container { 
		position: relative;
		.simply-scroll-clip { 
			position: relative;
			overflow: hidden;
			.simply-scroll-list { 
				overflow: hidden;
				margin: 0;
				padding: 0;
				list-style: none;
    			height: 41px;
				li {
					padding: 0;
					margin: 0;
					list-style: none;
					float: left; 
					width: 500px;
					height: 200px;
					a{
						font-size: 12px;
						span{
							&:after{
								content: "»";
						    	font-weight: normal;
						    	margin: 0px 3px 0px 15px;
							}
							font-weight: bold;
							color: #005580;
						}
					}
				}
			}
			.simply-scroll { 
				height: 41px;
				margin-bottom: 1em;
			}
		}

	}
	ul{
    	margin: 0;
		list-style: none;
    	line-height: 11px;
		
	}
	#searchform{
		p{
			margin: 0;
    		position: relative;
    		background: #3d4c54;
			&:after{
				content: "\f002";
			    font-family: FontAwesome;
			    position: absolute;
			    top: 0;
			    right: 0;
			    line-height: 39px;
			    width: 23%;
			    text-align: center;
			    color: #eee;
			}
		}
		input[type="text"]{
		    border: medium none;
		    box-shadow: none;
		    height: 39px;
		    width: 77%;
		    padding: 15px;
		    border-left: 1px #eee solid;
		    border-right: 1px #eee solid;
		}
		input[type="submit"]{
			float: right;
		    width: 23%;
		    border: none;
		    height: 39px;
		    background: transparent;
		    font-size: 0;
		    z-index: 1;
		    position: relative;
		}
	}
}
#news{
	background: white;
	padding-top: 15px;
	.flexslider{
		border: none;
		ol{
   			border: 1px #ddd solid;
			li{
    			padding: 10px;
    			img{
    				border: 5px #ddd solid;
    			}
			}
		}
		.flex-direction-nav{
			a{
				top: 35%;
				&:before{
					font-family: FontAwesome;
			    	color: #fff;
				}
			}
			&:before{
				font-family: FontAwesome;
			    color: #fff;
			}
			.flex-next:before{
				content: '\f105';
			}
			.flex-prev:before{
				content: '\f104';
			}
		}
	}
	.news-center{
		h3{
			background: #3d4c54;
		    color: #FFF;
		    font-size: 16px;
		    font-weight: normal;
		    margin: 0;
		    padding: 10px 0;
		    text-align: center;
		}
		ul{
			background: #f2f2f2;
		    margin: 0;
    		padding: 2px 5px;
			li{
			    background: #FFF;
    			margin: 12px 8px;
    			padding: 10px;
			    list-style: none;
			    position: relative;
			    h4{
			    	margin: 0
			    }
			}
		}
	}
}
#tabwidget{
  	#tabnav{
    	list-style: none;
    	padding: 0;
    	margin: 0;
	  	h3 {
		  	font-size:13px;
		 	font-weight:normal;
		  	margin:0;
	  	}
	  	li{
		  	float:left;
    		width: calc(100%/3);
		  	a {
			  	color:#FFF;
			  	background:#3d4c54;
			  	border-right:1px solid #485A63;
			 	display:block;
			  	text-align:center;
			    height: 41px;
			    line-height: 41px;
			    padding: 0;
			    i{
    				padding-right: 5px;
			    }
			  	&:last-child {
				  border-right:none;
				}
				&:hover,&.selected {
				  background:#81b752;
				  text-decoration:none;
				}
			}
		  	img {
		  		margin-right:7px;
			}
		}
  	}
	#tab-content {
	  	border: 1px solid #eee;
	    max-height: 357px;
	    overflow: hidden;
	    overflow-y: scroll;
	  	ul{
   		 	padding: 0;
    		margin-top: 0;
	  		li {
			  	padding:15px;
			  	border-bottom:1px solid #eee;
			  	p {
				  	margin: 0;
    				padding-top: 5px;
				}
			}
			&:last-child {
			  border-bottom:none;
			}
			img {
			    float: left;
			    margin-right: 15px;
			    width: 90px;
			    height: auto;
    			margin-top: 3px;
			}
			h4 {
			  margin:0;
			}
	  	}
	  	&.nav {
		    float: right;
		    margin: 0;
		}
	  	#tab3 {
		  	padding:0;
		  	ul{
		  		li{
			 		padding:15px;
			  		border-bottom:1px solid #eeeeee;
				}
		  	}
		}
	}
}

