body{
    margin: 30px AUTO;
    background: url("../../resources/assets/images/background-new.jpg") no-repeat top center fixed;
    color: #555;
    font-family: Roboto, sans-serif;
    font-weight: normal;
    font-size: 13px;
    background-size: cover;
    a:hover{
  	text-decoration: none;
	}
	*:focus{
		outline: 0;
	}
	h4{
		font-size: 14px;
	}
	#ajaxsend{
		position: fixed;
	    text-align: center;
	    left: 50%;
	    top: 50%;
	    z-index: 100;
	    height: 100%;
	    width: 100%;
	    transform: translate(-50%, -50%);
	    background: rgba(0, 0, 0, 0.3);
	    display: none;
	    img{
	    	border-radius: 50%;
		    top: 50%;
		    position: relative;
		    transform: translateY(-50px);
    	}
	}
}
#header {
    background: #3D4C54;
    height: 50px;
    #logo{
  		line-height: 50px;
	}
	nav{
  		line-height: 50px;
  		ul{
		    list-style: none;
		    float: right;
		    margin: 0;
		    li{
			 	float: left;
			  	padding: 0 10px;
			  	border-right: 1px solid #485a63;
			  	position: relative;
			  	a{
				   color: #fff;
				}
				&:hover{
				   background: #303e45;
				   ul{
					    position: absolute;
					    opacity: 1;
					    transition: all 0.3s;
					    background: #3D4C54;
					    top: 50px;
					    z-index: 2;
					}
				}
				ul{
				    position: absolute;
				    opacity: 0;
				    background: #303e45;
				    padding: 0;
				    min-width: 179px;
				    top: 165px;
   				    left: 0;
   				    z-index: -1;
				    li{
					    clear: both;
					    width: 100%;
					    border: none;
					    line-height: 35px;
					    font-size: 13px;
						a{
						    color: #ddd;
						}
					}
				}
			}
		}
		.icon-home img{
	    	position: relative;
	    	top: -3px;
		}
	}
}
#headline{
    background: #ebebeb;
    padding: 15px 7px 0;
    .owl-wrapper-outer{
	}
    .item{
    	margin: 0 7px;
    }
    article{
    	background: #FFF;
    	margin-bottom: 15px;
    	padding: 10px;
    	>a{
		    width: 40%;
		    float: left;
    		margin-right: 10px;
		    img{
		    	width: 100%		
    		}
    	}
    	.entry{
    		h3{
			    margin: 0;
			    font-size: 13px;
			    font-weight: normal;
			    line-height: 16px;
    		}
    		p{
    			color: #939EAD;
			    font-size: 12px;
			    margin: 0;
			    padding-top: 5px;
    		}
    	}
    }
}
#intro{
	color: #939ead;
    background: #f7f7f7;
    border-bottom: 1px solid #f2f2f2;
    border-top: 1px solid #f2f2f2;
    height: 41px;
	h3{
    	width: 120px;
    	float: left;
    	color: #FFF;
	    font-size: 11px;
    	line-height: 41px;
    	margin: 0;
	    span{
	    	background: #3d4c54;
    		padding: 6px;
   		 	position: relative;
	    	&:after{
	    		content: '';
			    position: absolute;
			    right: -12px;
			    background: #3d4c54;
			    bottom: 0px;
			    border-left: 13px #3d4c54 solid;
			    border-bottom: 13px #f7f7f7 solid;
	    	}
	    	&:before{
	    		content: '';
			    position: absolute;
			    right: -12px;
			    background: #3d4c54;
			    top: 0px;
			    border-left: 13px #3d4c54 solid;
			    border-top: 13px #f7f7f7 solid;
	    	}
	    }
	}
	.simply-scroll-container { 
		position: relative;
		.simply-scroll-clip { 
			position: relative;
			overflow: hidden;
			.simply-scroll-list { 
				overflow: hidden;
				margin: 0;
				padding: 0;
				list-style: none;
    			height: 41px;
				li {
					padding: 0;
					padding-right: 20px;
					margin: 0;
					list-style: none;
					float: left; 
					a{
						font-size: 12px;
						span{
							&:before{
								content: "»";
						    	font-weight: normal;
						    	margin: 0px 3px 0px 15px;
						    	position: relative;
						    	top: -1px;
							}
							font-weight: bold;
							color: #005580;
						}
					}
				}
			}
			.simply-scroll { 
				height: 41px;
				margin-bottom: 1em;
			}
		}

	}
	ul{
    	margin: 0;
		list-style: none;
    	line-height: 11px;
    	.introweather{
    		font-size: 12px;
    	}
		.weather_icon{
			height: 40px;
			padding: 5px;
			width: auto;
			padding-right: 30px;
		}
	}
	#searchform{
		p{
			margin: 0;
    		position: relative;
    		background: #3d4c54;
			&:after{
				content: "\f002";
			    font-family: FontAwesome;
			    position: absolute;
			    top: 0;
			    right: 0;
			    line-height: 39px;
			    width: 23%;
			    text-align: center;
			    color: #eee;
			}
		}
		input[type="text"]{
		    border: medium none;
		    box-shadow: none;
		    height: 39px;
		    width: 77%;
		    padding: 15px;	
		    border: none;
		}
		input[type="submit"]{
			float: right;
		    width: 23%;
		    border: none;
		    height: 39px;
		    background: transparent;
		    font-size: 0;
		    z-index: 1;
		    position: relative;
		}
	}
}
#news{
	background: white;
	padding-top: 15px;
	.flexslider{
		border: none;
    	margin-bottom: 15px;
    	ul{
    		li{
    			position: relative;
    			.flex-caption{
    				position: absolute;
				    bottom: 0;
				    left: 0px;
				    background: rgba(0,0,0,0.6);
				    width: 100%;
				    color: #fff;
				    h4{
				    	padding: 10px;
				    	margin: 0;
				    	a{
				    		color: #fff;
				    		font-weight: both;
				    		font-size: 14px;
				    	}
				    }
				    > div{
					    padding: 10px;
					    padding-top: 0;
				    }
    			}
    		}
    	}
		ol{
   			border: 1px #f2f2f2 solid;
			li{
    			padding: 10px;
    			img{
    				border: 5px #f2f2f2 solid;
    			}
    			
			}
		}
		.flex-direction-nav{
			position: absolute;
		    top: 33%;
		    width: 100%;
			a{
				top: 35%;
				font-size: 0;
				&:before{
					font-family: FontAwesome;
			    	color: #fff;
				}
			}
			&:before{
				font-family: FontAwesome;
			    color: #fff;
			}
			.flex-next:before{
				content: '\f105';
			}
			.flex-prev:before{
				content: '\f104';
			}
		}
	}
	.news-center{
		h3{
			background: #3d4c54;
		    color: #FFF;
		    font-size: 16px;
		    font-weight: normal;
		    margin: 0;
		    height: 41px;
		    line-height: 41px;
		    text-align: center;
		}
		ul{
			background: #f2f2f2;
		    margin: 0;
    		padding: 0px 5px;
		    height: 398px;
		    overflow-y: scroll;
    		border-bottom: 12px #f2f2f2 solid;
    		border-top: 12px #f2f2f2 solid;
			li{
			    background: #FFF;
    			margin: 10px 8px;
    			margin-right: 0;
    			padding: 10px;
			    list-style: none;
			    position: relative;
			    h4{
			    	margin: 0;
			    }
			    &:first-child{
    				margin-top: 2px;
			    }
			    &:last-child{
    				margin-bottom: 2px;
			    }
			}
		}
	}
}
#tabwidget{
  	#tabnav{
    	list-style: none;
    	padding: 0;
    	margin: 0;
	  	h3 {
		  	font-size:13px;
		 	font-weight:normal;
		  	margin:0;
	  	}
	  	li{
		  	float:left;
    		width: calc(100%/3);
		  	a {
			  	color:#FFF;
			  	background:#3d4c54;
			  	border-right: 1px solid #485A63;
			 	display:block;
			  	text-align:center;
			    height: 41px;
			    line-height: 41px;
			    padding: 0;
			    i{
    				padding-right: 5px;
			    }
			  	&:last-child {
				  border-right:none;
				}
				&:hover,&.selected {
				  background:#81b752;
				  text-decoration:none;
				}
			}
		  	img {
		  		margin-right:7px;
			}
		}
  	}
	#tab-content {
		border: 1px solid #f2f2f2;
	    height: 357px;
	    overflow: hidden;
	    overflow-y: scroll;
	  	border:1px solid #f2f2f2;
	  	ul{
   		 	padding: 0;
   		 	margin-top: 0;
	  		li {
			  	padding:15px;
			  	border-bottom:1px solid #f2f2f2;
			  	p {
				  	margin: 0;
    				padding-top: 5px;
				}
				> a{
					float: left;
				}
			}
			&:last-child {
			  border-bottom:none;
			}
			img {
			  	float:left;
		    	margin-right: 15px;
		    	width: 90px;
		    	height: auto;
				margin-top: 3px;
			}
			h4 {
			  margin:0;
			}
	  	}
	  	&.nav {
		    float: right;
		    margin: 0;
		}
	  	#tab3 {
		  	padding:0;
		  	ul{
		  		li{
			 		padding:15px;
			  		border-bottom: 1px solid #f2f2f2;
				}
		  	}
		}
	}
}
#jobs{
	background: #fff;
    padding-bottom: 15px;
	#search-jobs{
	    margin-bottom: 15px;
	    height: 41px;
	    background: #f7f7f7;
		h3{
	    	width: 120px;
	    	color: #FFF;
		    font-size: 11px;
	    	line-height: 41px;
	    	margin: 0;
    		float: left;
		    span{
		    	background: #3d4c54;
	    		padding: 6px;
	   		 	position: relative;
		    	&:after{
		    		content: '';
				    position: absolute;
				    right: -12px;
				    background: #3d4c54;
				    bottom: 0px;
				    border-left: 13px #3d4c54 solid;
				    border-bottom: 13px #f7f7f7 solid;
		    	}
		    	&:before{
		    		content: '';
				    position: absolute;
				    right: -12px;
				    background: #3d4c54;
				    top: 0px;
				    border-left: 13px #3d4c54 solid;
				    border-top: 13px #f7f7f7 solid;
		    	}
		    }
		}
		form{
    		float: right;
    		line-height: 41px;
    		select{
			    height: 39px;
			    width: 200px;
			    padding: 10px;
			    border: none;
			    margin-right: 1px;
    		}
		}
	}
	#list-jobs{
    	height: 455px;
	    overflow-y: scroll;
	    border: 14px #f2f2f2 solid;
	    border-right: 1px;
	    clear: both;
	    .item{

    		padding: 5px 0;
		    &:nth-child(2n){
		    	background: #eee;
			}
			.title{
				font-weight: bold;
				i{
					width: 15px;
					font-size: 18px;
				}
			}
			.salary{
				font-weight: bold;
				color: #81b752;
			}
	    }
	}
	.job-vip{
		.title{
				background: #3d4c54;
			    color: #FFF;
			    font-size: 16px;
			    font-weight: normal;
			    margin: 0;
			    height: 41px;
			    line-height: 41px;
			    text-align: center;
		}
		.content{
		    height: 500px;
		    overflow-y: scroll;
		    border: 1px #f2f2f2 solid;
    		padding: 0 15px;
    		padding-top: 10px;
			.item{
				h4{
	    			margin: 5px;
				}
				.salo{
					background: #fff;
				    padding: 10px 0;
				    color: #8abc5e;
				    margin: 10px 0;
				    font-weight: bold;
				    border-bottom: 1px #ccc solid;
    				clear: both;
				    span{
				    	padding-right: 20px;
				    	&:last-child{
				    		padding-right: 0;
				    	};
				    	i{
    						padding-right: 5px;
				    	}
				    }
				}
				img{
				    width: 100px;
				    height: 100px;
				    margin-right: 15px;
				    float: left;
				}
			}
		}
	}
	.pagination{
	    height: 25px;
	    margin-top: 5px;
	    list-style: none;
    	padding: 0;
	    li{
	    	display: inline-block;
	    	&.active,&:hover{
	    		a,span{
	    			background: #fff;
	    			color: #337ab7;
    				border: 1px #3d4c54 solid;
	    		}
	    	}
	    }
		a,span{
			background: #3d4c54;
		    height: 25px;
		    display: inline-block;
		    width: 25px;
		    text-align: center;
		    line-height: 25px;
		    margin-right: 5px;
		    color: #fff;
		    border: 1px #3d4c54 solid;
		    box-sizing: content-box;
		}
	}
}
#masonry{
    background: #fff;
    padding-bottom: 15px;
    .page-ads{
	    position: absolute;
	    margin-top: -15px;
	    left: 0;
    }
    .margintop-10{
    	margin-top: 10px;
    }
    #search-adv{
	    margin-bottom: 15px;
	    height: 41px;
	    background: #f7f7f7;
		h3{
	    	width: 120px;
	    	color: #FFF;
		    font-size: 11px;
	    	line-height: 41px;
	    	margin: 0;
    		float: left;
		    span{
		    	background: #3d4c54;
	    		padding: 6px;
	   		 	position: relative;
		    	&:after{
		    		content: '';
				    position: absolute;
				    right: -12px;
				    background: #3d4c54;
				    bottom: 0px;
				    border-left: 13px #3d4c54 solid;
				    border-bottom: 13px #f7f7f7 solid;
		    	}
		    	&:before{
		    		content: '';
				    position: absolute;
				    right: -12px;
				    background: #3d4c54;
				    top: 0px;
				    border-left: 13px #3d4c54 solid;
				    border-top: 13px #f7f7f7 solid;
		    	}
		    }
		}
		form{
    		float: right;
    		line-height: 41px;
    		select{
			    height: 39px;
			    width: 200px;
			    padding: 10px;
			    border: none;
			    margin-right: 1px;
    		}
		}
	}
    .list-masonry{
    	padding: 0 10px;
	    .frame-masonry{
	    	.col{
		    	width: 25%;
		    	float: left;
   				padding: 5px;
	    	}
		    .text{
		    	padding: 10px 0;
			    border-radius: 0px;
		    	a{
				    text-transform: uppercase;
				    font-weight: bold;
		    	}
		    	p{
				    margin-top: 5px;
   				 	margin-bottom: 5px;
		    	}
		    }
	    }
	    .item{
		    background: #fff;
		    width: 100%;
    		padding: 7px 0;
		    .it-fream{
			    border: 7px #fff solid;
			    box-shadow: 0px 0px 1px 0px #ccc;
			    height: 100%;
			    overflow: hidden;
		    	> a{
				}
		    }

		    img, iframe {
			    max-width: 100%;
			    height: auto;
			    display: inline-block;
			}
	    }
    }
}
#mutimedia{
    background: #fff;
    padding-bottom: 15px;
	#title-mutimedia{
	    margin-bottom: 15px;
	    height: 41px;
	    background: #f7f7f7;
		h3{
	    	width: 120px;
	    	color: #FFF;
		    font-size: 11px;
	    	line-height: 41px;
	    	margin: 0;
    		float: left;
		    span{
		    	background: #3d4c54;
	    		padding: 6px;
	   		 	position: relative;
		    	&:after{
		    		content: '';
				    position: absolute;
				    right: -12px;
				    background: #3d4c54;
				    bottom: 0px;
				    border-left: 13px #3d4c54 solid;
				    border-bottom: 13px #f7f7f7 solid;
		    	}
		    	&:before{
		    		content: '';
				    position: absolute;
				    right: -12px;
				    background: #3d4c54;
				    top: 0px;
				    border-left: 13px #3d4c54 solid;
				    border-top: 13px #f7f7f7 solid;
		    	}
		    }
		}
	}
	.owl-mutimedia{
   	 	padding-left: 7px;
    	padding-right: 7px;
		.owl-carousel{
			.item{
    			margin: 0 7px;
				img{
					width: 100%;
					height: auto;
				}
				h4{
				    padding-top: 15px;
				    margin: 0;
				}
				i{
					background: #81b752;
				    padding: 10px;
				    color: #fff;
				    float: left;
				    margin-right: 10px;	
				}
			}
			.owl-buttons{
				position: absolute;
			    top: -55px;
			    right: 5px;
			    > div{
			    	display: inline-block;
				    height: 39px;
				    margin: 0 3px;
				    background: #3d4c54;
				    line-height: 39px;
				    width: 39px;
				    text-align: center;
				    font-size: 0;
				    &.owl-prev:before{
				    	content: '\f104';
				    	font-family: FontAwesome;
		    			color: #fff;
		    			font-size: 20px;
				    }
				    &.owl-next:before{
				    	content: '\f105';
				    	font-family: FontAwesome;
		    			color: #fff;
		    			font-size: 20px;
				    }
			    }
			}
		}
	}
}
#footer{
	.row-flex{
		display: flex;	
    	clear: both;
	}
	#footer-top{
		background: #f1f1f1;
		h3{
			background: #fff;
		    display: inline-block;
		    padding: 0px 30px;
		    text-transform: capitalize;
		    font-weight: 300;
		    color: #333;
		    height: 41px;
		    margin: 14px 0px;
    		line-height: 41px;
		}
		p{
			color: #333;
			i{
			    width: 25px;
			    text-align: left;
			    font-size: 16px;
			    color: #3d4c54;
			    &.fa-envelope{
			    	font-size: 12px;
			    }
			}
		}
		.footer-logo{
			img{
				text-align: right;
			    padding: 10px 36px;
			    height: 41px;
			    background: #23323f;
			    margin-bottom: 10px;
			}
		}
		.footer-logo,.contact-info{
			border-right: 1px #fff solid;
		}
		.social{
			list-style: none;
   			float: right;
    		padding: 0;
			li{
				display: inline-block;
			    height: 40px;
			    width: 40px;
			    margin-left: 10px;
			    margin-top: 15px;
			    background: #81b752;
			    line-height: 41px;
			    font-size: 24px;
			    color: #fff;
			    text-align: center;
			    a{
			    	display: block;
			    }
				&.face a{
					background: #337ab7;
				}
				&.goplus a{
					background: #c12d2a;
				}
				&.instagram a{
					i{
						color: #fff;
					}
				}
				&.youtube a{
					background: #c12d2a;
				}
			    i{
			    	color: #fff;
			    }
			}
		}
		.map{
			padding-bottom: 15px;
		}
	}
	#footer-bot{
		background: #23323f;
		#site-info {
	    	font-size: 12px;
	    	#credit{
	    		display: inline-block;
	    	}
	    	#footer-nav{
	    		float: right;
	    		ul{
	    			list-style: none;
	    			li{
	    				display: inline-block;
	    				border-right: 1px #666 solid;
					    padding: 0 5px;
					    line-height: 10px;
					    &:hover a{
					    	color: #fff;
					    }
					    &:last-child{
					    	padding-right: 0;
					    	border-right: none;
					    }
	    			}
	    		}
	    	}
		}
	}
}
#content-news,#content-jobs,#content-ads,#content-playlist,#content-muti{
	.container{
		background: #fff;
	}
}
#postjobs,#postads{
    background: #fff;
    h1{
    	text-align: center;
    	text-transform: uppercase;
    }
    h3{
    	background: #3d4c54;
	    clear: both;
	    padding: 10px;
	    text-align: center;
	    color: #fff;
	    text-transform: uppercase;
    }
    .control-label{
    	text-align: right;
    	font-size: 16px;
    	line-height: 40px;
    }
	form{
	    border: 1px #f2f2f2 solid;
	    border-radius: 10px;
	    padding: 30px 5px;
	    padding-top: 0;
		input[type='text'],input[type='email'],textarea,select{
		    width: 100%;
		    height: 40px;
		    padding: 0 15px;
		    font-size: 14px;
    		margin-bottom: 10px;
    		max-width: 500px;
		}
		select{
		    padding-left: 11px;
		    text-transform: capitalize;
		}
		input[type='radio'],input[type='checkbox'],#cke_content-post,input[type='file']{
    		margin-bottom: 10px;
    		max-width: 498px;
		}
		textarea{
			height: 150px;
			padding: 15px;
		}
		input[type='file']{
		    height: 40px;
		    margin-bottom: 10px;
		    padding: 8px;
		    border: 1px #999 solid;
		}
		input[type='submit']{
		    padding: 0 30px;
		    line-height: 40px;
		    margin-bottom: 40px;
		    background: #3d4c54;
		    color: #fff;
		    border: none;
		    text-transform: capitalize;
		}
	}
}
#list{
	background: #fff;	
    padding: 15px;
    input,select,button{
    	height: 30px;
	}
	input[type='checkbox'],input[type='radio']{
	    height: auto;
	}
	input[type='submit'],input[type='button'],button,.button{
	    background: #3d4c54;
	    color: #fff;
	    padding: 0 15px;
	    border: none;
	    border-radius: 4px;
	}
    table{
        thead{
            tr{
                background: #3d4c54;
                color: #fff;
                font-weight: bold;
                span.title{

                }
                span.sort{
                        display: inline-block;
                        float: right;
                    i{
                        height: 15px;
                        width: 10px;
                        text-align: center;
                        color: #fff;
                        &.active{
                            color: #f00;
                        }
                    }
                    a:hover{
                        i{
                            color: #f00;
                        }
                    }
                }
            }
        }
        tbody{
            i:before{
                font-size: 20px;
                margin-right: 8px;
                height: 30px;
                width: 30px;
                line-height: 30px;
            }
            .fa-plus-square-o{
                color: #3c763d;
            }
            .fa-pencil-square-o{
                color: #337ab7;
            }
            .fa-minus-square-o{
                color: #a94442;
            }
        }
    }
    .pagination{
		margin: 0 7px;
    }
}
.title-line{
	h3{
    	width: 120px;
    	color: #FFF;
	    font-size: 11px;
    	line-height: 41px;
    	margin: 0;
		float: left;
	    span{
	    	background: #3d4c54;
    		padding: 6px 10px;
   		 	position: relative;
	    	&:after{
	    		content: '';
			    position: absolute;
			    right: -12px;
			    background: #3d4c54;
			    bottom: 0px;
			    border-left: 13px #3d4c54 solid;
			    border-bottom: 13px #fff solid;
	    	}
	    	&:before{
	    		content: '';
			    position: absolute;
			    right: -12px;
			    background: #3d4c54;
			    top: 0px;
			    border-left: 13px #3d4c54 solid;
			    border-top: 13px #fff solid;
	    	}
	    }
	}
	a{
	    float: right;
	    background: #3d4c54;
	    padding: 4px 15px;
	    color: #fff;
	    margin-top: 7px;
    }
}
#muti-audio,#muti-video,#muti-story{
	background: #fff;
}
#content-muti .image-file{
	img{
		width: 100%;
	    margin: 20px 0;
	}
}
#content-playlist{
	.playlist{
		width: 100%;
		margin: 20px 0;
	}
	.entry-content .img{
		margin: 10px 0;
	}
}
#siderbar-right{
	margin-top: 15px;
	margin-bottom: 15px;
	.siderbar{
		h3.title{
			display: inline-block;
		    padding: 5px 10px;
		    margin: 0;
		    color: #fff;
		    background: #3d4c54;
		    text-transform: uppercase;
    		margin-bottom: 5px;
		}
		h4{
		    margin: 0;
		    margin-bottom: 5px;
		}
	}
	
	.latest-post{
	    border-bottom: 1px #f2f2f2 solid;
	    margin-bottom: 10px;
    	padding-bottom: 5px;
    	margin-top: 20px;
    	.item{
    		clear: both;
    		padding: 5px 0;
   			position: relative;
   			.extra{
			    position: absolute;
			    bottom: 2px;
			    right: 0;
			    font-size: 11px;
			    color: #3d4c54;
			    width: 100%;
			    padding-left: 110px;
			    .like,.view{
			    	float: right;
			    	margin-left: 10px;
			    }
			}
    	}
		img{
		    max-width: 100px;
		    float: left;
		    margin-right: 10px;
		    height: 100px;
		}
	}
	.sidebar-ads{
		margin-bottom: 5px;
		img{
			width: 100%;
			height: auto;
		}
	}
}
#module-comment{
    margin-bottom: 30px;	
	#comment-script{
	    padding: 0;
	    list-style: none;
	    margin: 0;
	    ul{
	    	list-style: none;
	    	padding-left: 56px;
	    }
	    .content{
		    margin: 2px 0;
		    padding: 5px;
		    border: 1px #f2f2f2 solid;
		    position: relative;
	    }
		.avata{
			float: left;
	    	margin-right: 15px;
			img{
				width: 50px;
			    height: 50px;
			    border-radius: 0px;
			    box-shadow: 1px 3px 4px 0px #eee;
			}
		}
		.pendding{
		    font-style: italic;
		    font-size: 10px;
		}
		.extra{
			.name{
			    text-transform: uppercase;
			    padding-right: 20px;
			}
			.date{
				padding-right: 20px;
			}
			.like,.dislike{
	    		padding: 0 5px;
	    		i{
	    			cursor: pointer;
	    		}
			}
		}
		.reply{
			float: right;
		    position: absolute;
		    right: 15px;
		    top: 15px;
		    padding: 2px 10px;
		    border-radius: 0px;
		    color: #fff;
		    background: #3d4c54;
		}
	}
	#comment-form,#child-comment-form{
	    padding-top: 10px;
	    border: 1px #f2f2f2 solid;
	    margin-top: 10px;
	    .form-group{
	    	line-height: 30px;
	    	padding: 5px 0;
	    	margin: 0;
	    	input[type='text']{
	    		height: 30px;
	    		padding: 5px 10px;
			    width: 100%;
	    	}
	    	textarea{
	    		height: 120px;
			    padding: 5px 10px;
			    width: 100%;
			    text-align: left;
	    	}
	    	input[type='button']{
	    		background: #fff;
			    display: inline-block;
			    padding: 0px 30px;
			    text-transform: uppercase;
			    font-weight: 300;
			    color: #333;
			    height: 40px;
			    margin: 5px 0px;
			    line-height: 37px;
			    border: 1px #999 solid;
			    position: relative;
			    top: -5px;
	    	}
	    }
	}
	#comment-form{
		margin: 0;
	}
}