$body-color: #333;
$body-bg-color: #eee;
$body-font-size: 14px;
$body-line-height: 1.2;
$body-font-family: arial;

$nav-color: #666;
$nav-bg-color: #fff;
$nav-hover-color: #333;
$nav-hover-bg-color: #fff;

$nav-sub-color: #666;
$nav-sub-bg-color: #fff;
$nav-sub-hover-color: #333;
$nav-sub-hover-bg-color: #fff;

$headings-color: #333;
$headings-font-family:'arial';